<div [class.task-form]="true">
  <h1>Task:</h1>
  <form #task_form="ngForm" (ngSubmit)="onSubmit($event.submitter.id)">
    <input type="text" name="name" [(ngModel)]="task.item_name" placeholder="Task name">
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" [(ngModel)]="task.description">Description</textarea>

    <label for="due_date">Due date</label>
    <input type="date" name="due_date" [(ngModel)]="task.due_date" id="due_date" placeholder="Due date">
  
    <div #modify_btns *ngIf="task?.id" class="btns">
      <button type="submit" [disabled]="!allInputsFilled()" id="delete_btn">Delete task</button>
      <button type="submit" [disabled]="!allInputsFilled()" id="save_btn">Save</button>
    </div>
    <div #create_btns *ngIf="!task?.id" class="btns">
      <button type="submit" [disabled]="!allInputsFilled()" id="create_btn">Create task</button>
    </div>
  </form> 
</div>


